body {
  background-color: #2d333b;
  margin: 0;

h1 {
  color: #cdd9e5;
  font-family: monospace;
  display: inline-block;
  margin-right: 10px;
  margin-left: 4vw;
  position: static;
}

h2 {
  color: #cdd9e5;
  font-family: monospace;
  text-align: left;
  position: absolute;
  margin-top: 5vw;
  margin-left: 4vw;
  white-space: nowrap;
}

p {
  color: #cdd9e5;
  font-family: monospace;
  text-align: left;  
  margin-left: 6%;
  font-size: 15px;
}

.profPic {
  width: 220px;
  height: 220px;
  position: relative;
  margin-top: -3vw;
  float: right;
}
.AboutMe {
  margin-top: 120px;
  text-align: right;
  position: absolute;
  display: flex;
  align-items: flex-start;
}

.imgEyes {
  display: inline-block;
  position: relative;
  margin-bottom: -10px;
}

.imgHand {
  display: inline-block;
}
